.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 100vw;
  min-height: 100vh;
}
img {
  width: 250px;
  height: 130px;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
h1 {
  font-size: 50px;
}
